---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import Layout from "../layouts/main.astro";
---

<Layout
  title="My blog posts"
  metaDescription="Explore insights and tips from a seasoned software engineer specializing in the MERN stack, React Native, and Next.js. Dive into the latest trends, tutorials, and best practices in full-stack and mobile app development"
  metaKeywords="Software Engineer, MERN Stack, React Native, Next.js, Full-Stack Development, Mobile App Development, JavaScript, typescript, Node.js, Express.js, Frontend Development, Web Development, Mobile Development, Coding Tips"
>
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Writing"
      description="Dive into my musings on life and tech in my latest posts; a blend of introspection and innovation. Keep an eye out for fresh insights and updates!"
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsLoop count="999999999" />
    </div>
  </section>
</Layout>
